<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><span class="title-font">{{title}}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!--<li class="nav-item active">
          <a class="nav-link" href="#">View Tasks
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add Task</a>
        </li>-->
        <li><a class='nav-link' routerLink="/add" routerLinkActive="active">Add Task</a></li>
        &nbsp;&nbsp;
        <li><a class='nav-link' routerLink="/view" routerLinkActive="active">View Tasks</a></li>
      </ul>
    </div>
  </div>
</nav>

<br/><br/><br/><br/><br/>

<!--<div class="text-center">
  <h1>{{ title }}</h1>
</div>
<div class="row">
  <div class="col-sm-4">
    <ul class="nav nav-pills">
      <li><a class='nav-link' routerLink="/add" routerLinkActive="active">Add Task</a></li>
      <li><a class='nav-link' routerLink="/view" routerLinkActive="active">View Tasks</a></li>
    </ul>
  </div>
</div>-->

<router-outlet></router-outlet>

<!-- Footer
<footer class="py-2 bg-primary">
  <div class="container">
    <p class="m-0 text-center text-white">Task Manager on {{now | date}}</p>
  </div>
</footer> -->
