<div class="container">
  <form>
    <div class="row">
      <div class="col-12">
        <div class="card text-center">
          <div class="card-header"><b>Task Filter</b></div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3  mb-3"><label for="taskName">Task</label></div>
              <div class="col-md-3  mb-3"><input type="text" name="task" [(ngModel)]="taskName" class="form-control"
                                                 id="taskName"></div>
              <div class="col-md-3  mb-3"><label for="parentTaskName">Parent Task</label></div>
              <div class="col-md-3  mb-3"><input type="text" name="parentTask" [(ngModel)]="parentTaskName"
                                                 class="form-control" id="parentTaskName"></div>
              <div class="col-md-3  mb-3"><label for="priorityFromFilterId">Priority From</label></div>
              <div class="col-md-3  mb-3"><input type="text" class="form-control" name="priorityFrom"
                                                 [(ngModel)]="priorityFromFilterId" id="priorityFromFilterId"></div>
              <div class="col-md-3  mb-3"><label for="priorityToFilterId">Priority To</label></div>
              <div class="col-md-3  mb-3"><input type="text" class="form-control" name="priorityTo"
                                                 [(ngModel)]="priorityToFilterId" id="priorityToFilterId"></div>
              <div class="col-md-3"><label for="startDate" i18n="@@label.startDate">Start Date</label></div>
              <div class="col-md-3"><input type="date" name="startDate" [(ngModel)]="startDateFilter"
                                           class="form-control" id="startDate"></div>
              <div class="col-md-3"><label for="endDate" i18n="@@label.endDate">End Date</label></div>
              <div class="col-md-3"><input type="date" name="endDate" [(ngModel)]="endDateFilter" class="form-control"
                                           id="endDate"></div>
            </div>
          </div>
        </div>

            <br>

        <div class="card text-center">
          <div class="card-header"><b>Task Results</b></div>
          <div class="card-body">
            <div class="row">
              <table class="table">
                <thead class="thead-light">
                <tr>
                 <!-- <th scope="col">ID</th>-->
                  <th scope="col">Task</th>
                  <th scope="col">Parent Task</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let t of tasks | TaskFilter : taskName : parentTaskName : priorityFromFilterId : priorityToFilterId : startDateFilter : endDateFilter">
                  <!--<td>{{t.id}}</td>-->
                  <td>{{t.task}}</td>
                 <!-- <td>{{t.parentTask?t.parentTask.id: null}}</td>-->
                  <td>{{t.parentTask?t.parentTask.task: null}}</td>
                  <!-- <td (click)="update(t)">{{t.parentTask.task}}</td>-->
                  <td>{{t.priority}}</td>
                  <td>{{t.startDate | date:"dd-MM-yyyy"}}</td>
                  <td>{{t.endDate | date:"dd-MM-yyyy"}}</td>
                  <td>
                    <button type="button" class="btn btn-primary mr-3" [disabled] = isTaskExpired(t) (click)="update(t)">Edit</button>
                    <button type="button" class="btn btn-primary" [disabled] = isTaskExpired(t) (click)="endTask(t)">End Task</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
